<a href="https://colab.research.google.com/github/liora99/SQL_Project/blob/main/create_data_in_file_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 5.1 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803699 sha256=09c706d0ea7907d414be3624b9e7d1ee26e7dc53287799316227bf20fcf6d55f
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [ ]:
import names

In [ ]:
import random

In [ ]:
from functools import reduce

In [ ]:
import pandas as pd

In [ ]:
def create_random_csv_data_for_payment(n):
  payment_id = range(1,n + 1)
  list_type_of_payment = ['Cards', 'Check', 'Cash' , 'GiftCards']                             
  type_of_payment = random.choices(list_type_of_payment,weights=(50, 30, 40, 10), k=n)
  payment_owner_name = map(names.get_full_name, range(1,n + 1)) 
  amount_of_payment = np.random.randint(100,6800,size =n)
  client_id=map(str, random.sample(range(100000000,399999999), n))
  email_adress = random.choices(emailAdressRandomList, k=n)
  data = {'payment_id' : payment_id,
          'type_of_payment' : type_of_payment,
          'payment_owner_name' : payment_owner_name, 
          'client_id' : client_id,
          'amount_of_payment' : amount_of_payment,
          'email_adress' : email_adress,
          }
  df = pd.DataFrame(data)
  return df

In [ ]:
n=20000

In [ ]:


AmountRandomList = [];
for index in range(n):
    AmountRandomList.append(random.randint(100,1250))
    
#print(AmountRandomList)
#AmountRandomList.append(random.randint(1250,2250))
#AmountRandomList.append(random.randint(1250,2250))

In [ ]:
df = create_random_csv_data_for_payment(20000)

In [ ]:
df

,payment_id,type_of_payment,payment_owner_name,client_id,amount_of_payment,email_adress
0,1,Cards,Evan Mcmunn,180926357,5438,SNdcJHV@gmail.com
1,2,Cash,Lauren Post,300622943,1142,pcMGkzu@gmail.com
2,3,Cash,Sadie Randolph,140115651,6575,Fdyhrwc@gmail.com
3,4,Cash,Pamela Gardner,258897694,782,TiRBdrJ@gmail.com
4,5,Cards,Matt Lane,136919483,4477,LYNwNGT@gmail.com
...,...,...,...,...,...,...
19995,19996,Cards,Samantha Kotula,124951382,4679,fXQufHW@gmail.com
19996,19997,Check,Donna Baker,156130238,4891,tqpfzZt@gmail.com
19997,19998,Cash,Luis Langston,366677410,5559,vyCitbx@gmail.com
19998,19999,Cash,Rebecca Evans,153021143,5585,OqwQEvi@gmail.com
19999,20000,GiftCards,Danny Anderson,200012117,6734,prADCsb@gmail.com

In [ ]:
[random.randint(1,10) for x in range(200)]

In [ ]:
df.to_csv("Payment.csv" , index=False)

In [ ]:
dataf.to_csv("ticket.csv" , index=False)

In [ ]:
def create_random_csv_data_for_Client(n):
  client_id = range(1,n + 1)
  data = {'client_id' : client_id,}
  df = pd.DataFrame(data)
  return df

In [ ]:
df = create_random_csv_data_for_Client(1000)

In [ ]:
df

     client_id
0            1
1            2
2            3
3            4
4            5
..         ...
995        996
996        997
997        998
998        999
999       1000

[1000 rows x 1 columns]

In [ ]:
df.to_csv("payment.csv" , index=False)

In [ ]:
dataf.to_csv("ticket.csv" , index=False)

# New Section

In [ ]:
def create_random_csv_data_for_Ticket(n):
  list_price_of_ticket = ['100', '125', '150' , '200','250', '2300', '4500','6800']
  ticket_id = range(1,n + 1)
  bar_code = np.random.randint(10000000, 99999999, size=n)
  price = random.choices(list_price_of_ticket,weights=(10,30,20,50,10,15,5,5), k=n)
  expiration_date = random.choices(datesRandomList, k=n)
  #date_of_expiry = pd.date_range('1/1/2022' , '12/31/2024') 
  data = {'ticket_id' : ticket_id,
          'bar_code' : bar_code,
          'price' : price,
          'expiration_date' : expiration_date,
          }
  dataf = pd.DataFrame(data)
  return dataf

In [ ]:
dataf = create_random_csv_data_for_Ticket(20000)

In [ ]:
def input_data(x):
 student_data={}
 for i in range(0,x):
   student_data[i]={}
   student_data[i]=fake.date_between(start_date='today' , end_date='+2y')

    #tmp=fake.date_between(start_date='today' , end_date='+2y')

In [ ]:
x = range(1,n+1)
tt=list(x)
for i in range(1,n):
  tt[i]=fake.date_between(start_date='today' , end_date='+2y')

NameError: ignored

In [ ]:
sdate = date(2022, 6, 1)

In [ ]:
edate = date(2023, 6, 1)

In [ ]:
dates_between = edate - sdate

In [ ]:
total_days = dates_between.days

In [ ]:
from datetime import date, timedelta , datetime

In [ ]:
n=20000

In [ ]:
 price = np.random.randint(100, 250, size=n)

In [ ]:
  bar_code = np.random.randint(10000, 99999, size=n)

In [ ]:
 cards_id = range(1,n + 1)

In [ ]:
len(bar_code)

1000

In [ ]:
date_of_expiry = date1 + timedelta(days=randay)

In [ ]:
randay = random.randrange(total_days)

In [ ]:
len(date_of_expiry)

TypeError: ignored

In [ ]:
date_of_expiry

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=1096, freq='D')

In [ ]:
from random import sample

In [ ]:
pip install faker

Collecting faker
  Downloading Faker-13.7.0-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 13.1 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-13.7.0

In [ ]:
from faker import Faker
fake = Faker()

In [ ]:
dataf = create_random_csv_data_for_Ticket(20000)

In [ ]:

def str_time_prop(start, end, time_format, prop):
    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))
    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%d/%m/%Y', prop)
 
datesRandomList = [];
for index in range(n):
    datesRandomList.append(random_date("01/01/2022", "31/12/2024", random.random()))

In [ ]:
import random
import time

In [ ]:
import random
import string

def random_char(y):
              return ''.join(random.choice(string.ascii_letters) for x in range(y))

emailAdressRandomList = [];
for index in range(n):
  emailAdressRandomList.append(random_char(7)+"@gmail.com")

In [ ]:
n=20000

In [ ]:
pip install dates

Collecting dates
  Downloading dates-0.0.1.tar.gz (4.4 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from dates) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->dates) (1.15.0)
Building wheels for collected packages: dates
  Building wheel for dates (setup.py) ... done
  Created wheel for dates: filename=dates-0.0.1-py3-none-any.whl size=6353 sha256=b1ee9a00ea63a71cc85be303dd5ab2089d977bf48a309117e41e51cc7561b0d1
  Stored in directory: /root/.cache/pip/wheels/3b/7e/e7/5a91cc8a0f2b9dc78ff8306c2c0b7a3850f2cf97c7594419b5
Successfully built dates
Installing collected packages: dates
Successfully installed dates-0.0.1

In [ ]:
import numpy as np

In [ ]:
dataf

NameError: ignored

In [ ]:
def create_random_csv_data_for_Attractions(n):
  list_minimum_age_required = ['1', '3', '8' , '10','12','15','18']
  list_attraction_level = ['Low', 'Medium', 'Hight' ]
  list_attraction_type = ['attraction with train', 'attraction with car' ,'flying attraction' , 'looping attraction' , 'attraction with boat' , 'escalation attraction', 'labyrinth attraction', 'memory attraction' ,'attraction with slides', 'attractions with balls', 'intellectual attraction','cinema attraction','aquatic attraction','big wheel','duck fishing']
  attraction_level = random.choices(list_attraction_level,weights=(30,70,20) ,k=n)
  attraction_type = random.choices(list_attraction_type,weights=(10,30,20,10,50,40,5,5,10,20,40,10,25,30,10) ,k=n)
  attraction_id = range(1,n + 1)
  ticket_id = [random.randint(1,n) for x in range(n)]
  design_id = [random.randint(1,n) for x in range(n)]
  theme_id = [random.randint(1,n) for x in range(n)]
  minimum_age_required = random.choices(list_minimum_age_required,weights=(10,15,20,20,40,60,10), k=n)
  data = {
          'attraction_level' : attraction_level,
          'attraction_type' : attraction_type,
          'attraction_id' : attraction_id,
          'ticket_id' : ticket_id,
          'design_id' : design_id,
          'theme_id' : theme_id,
          'minimum_age_required' : minimum_age_required
          }
  df_attractions = pd.DataFrame(data)
  return df_attractions

In [ ]:
n=20000

In [ ]:
df_attractions = create_random_csv_data_for_Attractions(20000)

In [ ]:
df_attractions

,attraction_level,attraction_type,attraction_id,ticket_id,design_id,theme_id,minimum_age_required
0,Medium,aquatic attraction,1,13355,4130,5723,3
1,Medium,attraction with boat,2,13708,12032,2639,15
2,Medium,cinema attraction,3,19232,6246,13904,10
3,Low,attraction with boat,4,14918,7805,472,10
4,Low,attraction with train,5,13617,19503,15645,3
...,...,...,...,...,...,...,...
19995,Medium,intellectual attraction,19996,18507,17519,16526,15
19996,Medium,big wheel,19997,15480,14925,15468,12
19997,Low,intellectual attraction,19998,9591,13180,14990,15
19998,Medium,aquatic attraction,19999,16597,9489,12112,8
19999,Low,cinema attraction,20000,14876,12967,17567,15

In [ ]:
df_attractions.to_csv("Attractions.csv" , index=False)

In [ ]:
def create_random_csv_data_for_Design(n):
  design_id = range(1,n+1)
  list_design_name = ['Flower', 'Horror', 'Haloween' , 'Mickey' , 'Space' , 'Cowboy' , 'Princess' , 'Animal']
  design_name = random.choices(list_design_name, k=n)
  data = {'design_id' : design_id,
          'design_name' : design_name,
          }
  df_design = pd.DataFrame(data)
  return df_design

In [ ]:
df_design = create_random_csv_data_for_Design(20000)

In [ ]:
df_design

       design_id design_name
0              1      Mickey
1              2      Cowboy
2              3      Mickey
3              4       Space
4              5       Space
...          ...         ...
19995      19996      Horror
19996      19997      Animal
19997      19998      Flower
19998      19999    Princess
19999      20000      Cowboy

[20000 rows x 2 columns]

In [ ]:
df_design.to_csv("design.csv" , index=False)

In [ ]:
def create_random_csv_data_for_Theme(n):
  theme_id = range(1,n+1)
  list_name_of_theme = ['discovery', 'Fantasy', 'Adventure' , 'MainStreet' ]
  name_of_theme = random.choices(list_name_of_theme, k=n)
  data = {'theme_id' : theme_id,
          'name_of_theme' : name_of_theme,
          }
  df_theme = pd.DataFrame(data)
  return df_theme

In [ ]:
df_theme = create_random_csv_data_for_Theme(20000)

In [ ]:
df_theme

       theme_id name_of_theme
0             1    MainStreet
1             2    MainStreet
2             3       Fantasy
3             4     Adventure
4             5    MainStreet
...         ...           ...
19995     19996       Fantasy
19996     19997       Fantasy
19997     19998    MainStreet
19998     19999     Adventure
19999     20000     Adventure

[20000 rows x 2 columns]

In [ ]:
df_theme.to_csv("theme.csv" , index=False)

In [ ]:
def create_random_csv_data_for_Check(n):
  payment_id = [random.randint(1,n) for x in range(n)]
  list_name_of_theme = ['discovery', 'Fantasy', 'Adventure' , 'MainStreet' ]
  name_of_theme = random.choices(list_name_of_theme, k=n)
  data = {'theme_id' : theme_id,
          'name_of_theme' : name_of_theme,
          }
  df_theme = pd.DataFrame(data)
  return df_theme